@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-red-hat: 'Red Hat Display', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red-hat);
  --font-red-hat: var(--font-red-hat);
  
  /* Custom Colors */
  --color-primary: #FD9004;
  --color-navy: #081B34;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-red-hat), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.about-bootcamps-swiper .swiper-pagination-bullet {
  background-color: rgba(10, 20, 49, 0.3);
  opacity: 1;
  transition: opacity 150ms ease;
}

.about-bootcamps-swiper .swiper-pagination-bullet-active {
  background-color: #0A1431;
}


.testimonials-card {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

